# Node
node_modules/
dist/
release/

# Env
.env
*.env.local

# Go
backend/hpc-backend
backend/logs/
backend/clients/
backend/tools/rdp-tunnel/go.sum

# OS
.DS_Store
*.log

# Editor
.vscode/settings.json

# 编译产物
src/**/*.vue.js
src/**/*.ts.js

# Kiro IDE
.kiro/

# SSH Keys
backend/keys/
